@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300;400;500 & display=swap');

h1,
h2,
h3{
	font-family: 'Oswald', sans-serif;
color: white;

}
h1{
	font-size: 3rem;
	color: black;

}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1,5rem;

}
h5{
	font-size: 1,5rem;
	color: white;
}
h6{
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size:rem;
}
p{
	color: grey;
	font-size:1rem;
	line-height:;
}
a{
	color: white;
}
body{
	background-image: url(../img/fondo.jpg);
	font-size:1rem;
	color: ;
}


.bg-light{
	color:white ;
	background-color:black ;

}
.btn-white{
	color: white;
}
#botonera img{
	width: 100px
}
.bg-black{
	color: ;
}
.col{
	color: white;
}

.btn-grey{
	color: black;
	background-color:white ;

}
.god{
	color: white;
	background-color:black ;

}