@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300;400;500 & display=swap');

//fonts
$mainFont:'Oswald', sans-serif;


//text sizing
$textSm:1.3rem;
$textMd:2.5rem;
$textLg:4rem;
$textXl:6rem;

//font - weight
$bold:500;
$regular:400;
$light:300;

//clases de texto 

.text-bold{
	font-weight: $bold;
}

.text-light{
	font-weight: $light;
}

.text-regular{
	font-weight: $regular;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}