.pie{
		text-align: center;
		width: 80%;
		height: 60%;
		margin: 30px auto;
		padding: 50px auto;
		line-height: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		
}

.pie__icon--sm{
		width: 20px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
}