//nesting - anidación
.botonera{
	background-color:$secondaryColor;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 150px;
		@media (min-width: 320px) and (max-width: 320px){
			width: 100px;
		}
	}
	ul{
		display: flex;
		li{
			list-style: none;
			margin: 0 5px;
			padding: 20px;
			a{
				font-family: $mainFont;
				font-size: $textLg;
				text-decoration: none;
				color:$black;
				&:hover{
					color:$keyColor;
				}
			}
		}
	}
}





