// productos en promoción 
#productos{
	h1,h2{
		width: 30%;
		height: auto;
		font-size: 3rem;
		padding: 20px 30px;
		background-color: rgba(255, 255, 255, .7);
		font-family: $mainFont;
		margin: 50px auto;
		}
	.galeria{
		margin: 40px;
		display: flex;
		justify-content: column;
		figure{
			text-align: center;
			img{
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				width: 100%;
			}
			figcaption{
				font-size: 2.5rem;
				color: white;
				padding: 15px 0;
				background-color: white;
			}
		}
		p.price{
			color: white;
			padding-bottom: 15px;
			background-color: white;
		}
	}
}





