<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css1.css">
    <title>LAVIGNE</title>
    <link rel="shortcut icon" href="../img/favicon.png">
  <!-- mi css -->
  </head>
  <body>
    <!--inicia nav-->
         <nav class="navbar navbar-expand-lg navbar-light bg" id="botonera">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../img/logo.png" alt="logo de mi compañia">
      </a>
      <h1>Lavigne</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="Productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Promociones.html">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Nosotros.html">Nosotros</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="Informacion.html">Informacion</a>
          </li>
      </div>
    </div>
  </nav>
    <!--ends nav-->

     <!--inicia carousel-->
       <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/header.jpg" class="d-block w-100" alt="fondo">
      </div>
      <div class="carousel-item">
        <img src="../img/header5.jpg" class="d-block w-100" alt="fondo">
      </div>
      <div class="carousel-item">
        <img src="../img/header4.jpg" class="d-block w-100" alt="fondo">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


      <!--ends carousel-->
      <ul class="list-group list-group-flush text-center">
        <h1>Cuidado de lavado</h1>
  <li class="list-group-item">No lavar con agua caliente</li>
  <li class="list-group-item">No utilizar secadora</li>
  <li class="list-group-item">No planchar sobre estampa</li>
  <li class="list-group-item">Lavar al reves</li>
  <li class="list-group-item">Lavar a mano</li>
</ul>
  <p class="text-center">Gracias por su visita al sitio web, los estaremos esperando</p>
  <h3 class=" text-center">
        Lavigne, No somos una marca de ropa
  </h3>

      <footer class="py-3 text-center text-white text-uppercase">
     <h6>Seguinos en nuestras redes</h6>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="../img/instagram.png" alt="logo de instagram">
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <img src="../img/twitter.png" alt="logo de twitter">
    </a>
    <a href="https://www.whatsapp.com/">
    <img src="../img/whatsapp.png" alt="logo de wapp">
    </a> 
    <h6 class="text-regular">+54929955678234</h6>
      </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
