<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css1.css">
    <title>LAVIGNE</title>
    <link rel="shortcut icon" href="../img/favicon.png">
  <!-- mi css -->
  </head>
  <body>
    <!--inicia nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg" id="botonera">

      <div class="container-fluid">

       <a class="navbar-brand" href="../index.html">

        <img src="../img/logo.png" alt="logo de mi compañia">

       </a>

       <h1>Lavigne</h1>

       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"

        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

         <li class="nav-item">

          <a class="nav-link " aria-current="page" href="Productos.html">Productos</a>

         </li>

         <li class="nav-item">

          <a class="nav-link" href="Promociones.html">Promociones</a>

         </li>

         <li class="nav-item">

          <a class="nav-link" href="Nosotros.html">Nosotros</a>

         </li>

         <li class="nav-item">

          <a class="nav-link" href="Informacion.html">Informacion</a>

         </li>

       </div>

      </div>

      </div>

     </nav>
    <!--ends nav-->


     <!--inicia carousel-->
       <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/header.jpg" class="d-block w-100" alt="fondo">
      </div>
      <div class="carousel-item">
        <img src="../img/header5.jpg" class="d-block w-100" alt="fondo">
      </div>
      <div class="carousel-item">
        <img src="../img/header4.jpg" class="d-block w-100" alt="fondo">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


      <!--ends carousel-->

      <h1 class="text-sm-start text-md-center text-lg-start">Productos</h1><div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="">
          <img src="../img/buzo.png" class="card-img-top " alt="img buzo">
          <div class="card-body text-sm-center text-md-center text-lg-center">
            <h5 class="card-title">THE BITCHA</h5>
            <p class="card-text">Hecho con la mejor productora del pais.</p>
            <p>$4000</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">
          <img src="../img/buzo 2.png" class="card-img-top" alt="imagen buzo2">
          <div class="card-body text-sm-center text-md-center text-lg-center">
            <h5 class="card-title">SCORPIOX</h5>
            <p class="card-text bg-ligth">Hecho con la mejor productora del pais.</p>
            <p>$4200</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">
          <img src="../img/buzo 3.png" class="card-img-top" alt="imagen buzo3">
          <div class="card-body text-sm-center text-md-center text-lg-center">
            <h5 class="card-title">MOON</h5>
            <p class="card-text">Hecho con la mejor productora del pais.</p>
            <p>$4500</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">
          <img src="../img/buzo 4.png" class="card-img-top" alt="imagen buzo4">
          <div class="card-body text-sm-center text-md-center text-lg-center">
            <h5 class="card-title">GODD</h5>
            <p class="card-text">Hecho con la mejor productora del pais.</p>
            <p>$4800</p>
          </div>
        </div>
      </div>
  <table class="table table-dark text-sm-center text-md-center text-lg-start">
  <h1 class="text-sm-center text-md-center text-lg-center">Forma de abonar</h1>
  <thead>
    ...
  </thead>
  <tbody>
    <tr class="table-active">
    </tr>
    <tr>
    </tr>
    <tr>
      <th scope="row">Metodos</th>
      <td colspan="2" class="table-active">Coutas</td>
      <td>Intereses</td>
    </tr>
     <tr>
      <th scope="row">Tarjeta de credito</th>
      <td colspan="2" class="table-active">12/18</td>
      <td>Sin interes</td>
    </tr>
      <tr>
      <th scope="row">Tarjeta de debito</th>
      <td colspan="2" class="table-active">1</td>
      <td>40% off</td>
    </tr>
    <tr>
      <th scope="row">Efectivo</th>
      <td colspan="2" class="table-active">1</td>
      <td>45% off</td>
    </tr>
  </tbody>
  </table>
  
  <script src="js/bootstrap.min.js"></script>

