<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta seo -->
    <meta name="description" content="vale la pena gastar el doble si esta a la mitad de lo que vale">
    <meta name="keywords" content="buzos, buzos oversize, promociones">
    <meta name="author" content="Francisco Jalil">
    <meta name="robots" content="index"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css1.css">
    <title>LAVIGNE</title>
    <link rel="shortcut icon" href="../img/favicon.png">
  <!-- mi css -->
  </head>
  <body>
    <!--inicia nav-->
         <nav class="navbar navbar-expand-lg navbar-light bg" id="botonera">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../img/logo.png" alt="logo de mi compañia">
      </a>
      <h1>Lavigne</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="Productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Promociones.html">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Nosotros.html">Nosotros</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="Informacion.html">Informacion</a>
          </li>
      </div>
    </div>
  </nav>
    <!--ends nav-->

     <!--inicia carousel-->
       <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/header.jpg" class="d-block w-100" alt="fondo">
      </div>
      <div class="carousel-item">
        <img src="../img/header5.jpg" class="d-block w-100" alt="fondo">
      </div>
      <div class="carousel-item">
        <img src="../img/header4.jpg" class="d-block w-100" alt="fondo">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


      <!--ends carousel-->

      <main>
        <section class="py-3">
          <div class="contanier-fluid">
            <h1 class="text-sm-start text-md-center text-lg-center">Promociones</h1>
            <div class="row">
              <article class="col-sm-12 col-md-6 col-lg-3"><img src="../img/buzo.png" alt="" class="w-100 d-block">
                <h2>The Bitcha</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit debitis incidunt veniam asperiores nobis, in adipisci. Illum a architecto id nemo veritatis, ut similique tenetur aspernatur tempore, molestias, beatae assumenda.</p>
                <a href="#" class=" btn btn-white w-100 mb-2"> mas info</a>
                <!--ends cards I-->
              </article>

              <article class="col-sm-12 col-md-6 col-lg-3">
                <img src="../img/buzo 5.png" alt="" class="w-100 d-block">
                <h2>Juicy</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit debitis incidunt veniam asperiores nobis, in adipisci. Illum a architecto id nemo veritatis, ut similique tenetur aspernatur tempore, molestias, beatae assumenda.</p>
                 <a href="#" class="btn btn-white w-100 mb-2"> mas info</a>
                 <!--ends cards II-->
              </article>

              <article class="col-sm-12 col-md-6 col-lg-3">
                <img src="../img/buzo 3.png" alt="" class="w-100 d-block">
                <h2>Scorpion</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit debitis incidunt veniam asperiores nobis, in adipisci. Illum a architecto id nemo veritatis, ut similique tenetur aspernatur tempore, molestias, beatae assumenda.</p>
                 <a href="#" class="btn btn-white w-100 mb-2"> mas info</a>
                <!--ends cards III-->
              </article>

              <article class="col-sm-12 col-md-6 col-lg-3">
                <img src="../img/buzo 6.png" alt="" class="w-100 d-block">
                <h2>Man</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit debitis incidunt veniam asperiores nobis, in adipisci. Illum a architecto id nemo veritatis, ut similique tenetur aspernatur tempore, molestias, beatae assumenda.</p>
                 <a href="#" class="btn btn-white w-100 mb-2"> mas info</a>
                 <!--ends cards IV-->
              </article>

            </div><!--ends row-->
          </div> <!--ends container-->
      </main>

      <footer class="py-3 text-center text-white text-uppercase" id="pie">
     <h6>Seguinos en nuestras redes</h6>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="../img/instagram.png" alt="logo de instagram">
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <img src="../img/twitter.png" alt="logo de twitter">
    </a>
    <a href="https://www.whatsapp.com/">
    <img src="../img/whatsapp.png" alt="logo de wapp">
    </a> 
    <h6 class="text-regular">+54929955678234</h6>
      </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 
  </body>
</html>